<div class="users-list">
	<div class="controls">
		<button
			[disabled]="!canAddNewUser"
			(click)="handleAddNewUser()">
				{{canAddNewUser ? "+ add user" : "no more users to add :("}}
		</button>
		sort by:
		<select [(ngModel)]="sortBy" (ngModelChange)="handleSortingChange($event)">
			<option *ngFor="let opt of sortingOptions; let i = index" [ngValue]=opt>{{opt.text}}</option>
		</select>
	</div>

	<div>
		<user-list-item *ngFor="let user of users; let i = index"
			[user]="user" [index]=i>
		</user-list-item>
	</div>
</div>